[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[es_ES]=/home/wso2/Icons/logo-wso2.jpeg
Name[es_ES]=wso2ei 6.1.1
Exec=env JAVA_HOME=/opt/java /opt/wso2ei-6.1.1/bin/integrator.sh
Comment[es_ES]=WSO2 Enterprise Integrator 6.1.1
Name=wso2 ei
Comment=WSO2 Enterprise Integrator 6.1.1
Icon=/home/wso2/Icons/logo-wso2.jpeg
Actions=StartServer;StopServer;

[Desktop Action StopServer]
Name=Para el servidor WSO2 Enterprise Integrator
Exec=env JAVA_HOME=/opt/java /opt/wso2ei-6.1.1/bin/integrator.sh stop


[Desktop Action StartServer]
Name=Arrancar el servidor WSO2 Enterprise Integrator
Exec=env JAVA_HOME=/opt/java /opt/wso2ei-6.1.1/bin/integrator.sh start
